# [Tienda]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [Tienda]    Script Date: 17/05/2023 9:24:54 a. m. ******/
CREATE DATABASE [Tienda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tienda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Tienda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tienda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Tienda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [Tienda] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tienda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [Tienda] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [Tienda] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [Tienda] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [Tienda] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [Tienda] SET ARITHABORT OFF 
GO
ALTER DATABASE [Tienda] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [Tienda] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [Tienda] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [Tienda] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [Tienda] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [Tienda] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [Tienda] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [Tienda] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [Tienda] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [Tienda] SET  ENABLE_BROKER 
GO
ALTER DATABASE [Tienda] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [Tienda] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [Tienda] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [Tienda] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [Tienda] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [Tienda] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [Tienda] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [Tienda] SET RECOVERY FULL 
GO
ALTER DATABASE [Tienda] SET  MULTI_USER 
GO
ALTER DATABASE [Tienda] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [Tienda] SET DB_CHAINING OFF 
GO
ALTER DATABASE [Tienda] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [Tienda] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [Tienda] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [Tienda] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'Tienda', N'ON'
GO
ALTER DATABASE [Tienda] SET QUERY_STORE = ON
GO
ALTER DATABASE [Tienda] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[Inventarioo]

In [0]:
USE [Tienda]
GO

In [0]:
/****** Object:  Table [dbo].[Inventarioo]    Script Date: 17/05/2023 9:24:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventarioo](
	[Id] [int] NOT NULL,
	[NombreP] [varchar](100) NOT NULL,
	[Precio] [varchar](100) NOT NULL,
	[Producto] [varchar](100) NOT NULL,
	[Cantidad] [varchar](100) NOT NULL
) ON [PRIMARY]
GO

In [0]:
INSERT [dbo].[Inventarioo] ([Id], [NombreP], [Precio], [Producto], [Cantidad]) VALUES (1, N'Dog Chaw', N'120.000', N'Comida Perro', N'50 UND')
INSERT [dbo].[Inventarioo] ([Id], [NombreP], [Precio], [Producto], [Cantidad]) VALUES (2, N'Br For Cat', N'85.000', N'Comida Gato', N'200 UND')
INSERT [dbo].[Inventarioo] ([Id], [NombreP], [Precio], [Producto], [Cantidad]) VALUES (3, N'Laser Tomca', N'22.400', N'Juguet Gto', N'80 UND')
INSERT [dbo].[Inventarioo] ([Id], [NombreP], [Precio], [Producto], [Cantidad]) VALUES (4, N'Royalty Gold', N'60.000', N'Comida Gato', N'200 UND')
INSERT [dbo].[Inventarioo] ([Id], [NombreP], [Precio], [Producto], [Cantidad]) VALUES (5, N'Pelota Borw', N'25.000', N'Juguet Perro', N'25 UND')
INSERT [dbo].[Inventarioo] ([Id], [NombreP], [Precio], [Producto], [Cantidad]) VALUES (6, N'Tezaro Dog', N'99.999', N'Comida Perro', N'120 UND')
INSERT [dbo].[Inventarioo] ([Id], [NombreP], [Precio], [Producto], [Cantidad]) VALUES (7, N'Miaw', N'45.000', N'Comida Gato', N'100 UND')
INSERT [dbo].[Inventarioo] ([Id], [NombreP], [Precio], [Producto], [Cantidad]) VALUES (8, N'Tetra', N'40.000', N'Comida Pez', N'100 UND')
INSERT [dbo].[Inventarioo] ([Id], [NombreP], [Precio], [Producto], [Cantidad]) VALUES (10, N'Sachem', N'50.000', N'Stability Pez', N'50 UND')
INSERT [dbo].[Inventarioo] ([Id], [NombreP], [Precio], [Producto], [Cantidad]) VALUES (11, N'Besties', N'90.000', N'Comida Gato', N'100 UND')
INSERT [dbo].[Inventarioo] ([Id], [NombreP], [Precio], [Producto], [Cantidad]) VALUES (12, N'Cat Chow', N'120.000', N'Comida Gato', N'40 UND')
INSERT [dbo].[Inventarioo] ([Id], [NombreP], [Precio], [Producto], [Cantidad]) VALUES (13, N'Br For Dog', N'90.000', N'Comida Perro', N'120 UND')
INSERT [dbo].[Inventarioo] ([Id], [NombreP], [Precio], [Producto], [Cantidad]) VALUES (9, N'Faster', N'50.000', N'Iman Acuario', N'20 UND')
GO

# [Tienda]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [Tienda] SET  READ_WRITE 
GO